<% remote_form_for :setting, @setting,
                   :url => {:controller => 'impasse/settings', :action => 'edit', :project_id => @project },
                   :builder => TabularFormBuilder,
                   :lang => current_language do |f| %>
<%= error_messages_for 'setting' %>
<div class="box tabular">
  <p><%=f.select :bug_tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, :required=>true%></p>
</div>

<%= submit_tag(l(:button_save)) %>

<% end %>
