<% labelled_tabular_form_for :test_case, @test_case, {} do |f| %>
  <%= render :partial => "impasse/test_case/form.#{params[:node_type]}", :locals => {:form => f} %>
  <button type="button" class="ui-button-submit"><%=l(:button_update)%></button>
  <button type="button" class="ui-button-cancel"><%=l(:button_cancel)%></button>
<% end %>
