#test-case-view .details{
    background: #ffd;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #d7d7d7;
}

#testcase-tree {
    overflow-x: auto;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

li[rel="test_case"][data-inactive="true"] a {
    color: #999;
    text-decoration: line-through;
}

.tabular .tabular-row {
    margin:0;
    padding: 5px 0 8px 0;
    padding-left: 180px;
    height: 1%;
    clear: left;
}

.tabular .tabular-row .wiki {
    margin:0;
    padding: 0;
}

.tabular .tabular-row .wiki p {
    margin:0;
    padding: 0;
    clear: none;
}

.drop-area {
}

#pasteboard {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    color: #ccc;
    text-shadow: 2px 2px 5px #ffffff;
}

#pasteboard .splash {
    position: relative;
}

#pasteboard .pasteboard-close {
    position: absolute;
    right: 0;
    top: 0;
}

.screenshots {
    overflow: hidden;
    height: 100px;
}
.screenshots .buttons {
    padding: 0;
    margin:0;
    display: block;
    float: left;
    text-decoration: none;
    line-height: 100px;
    font-size: 24px;    
}

.screenshots .viewport {
    float: left;
    width: 300px;
    height: 103px;
    overflow: hidden;
    position:relative;
}

.screenshots .overview {
    list-style:none;
    padding:0;
    margin: 0;
    position: absolute;
    left:0;
    top: 0;
}

.screenshots .overview li {
    display: block;
    position: relative;
    float:left;
}

.screenshots .disable {
    visibility: hidden;
}

.screenshots .screenshot-delete img {
    position: absolute;
    top: 0;
    right: 0;
}

#requirements-view {
  overflow:auto;
}