<div id="test-chart">
</div>
<script>
jQuery.ajax({
    url: '<%=url_for :controller=>:test_plans, :action=>:statistics, :project_id=>@project, :id=>@test_plan%>',
    type: 'get',
    data: { type: "daily", format: "json" },
    success: function(data) {
        jQuery.jqplot("test-chart", data, {
            axes: {
                yaxis:  { min: 0,
			  tickOptions : { formatString : '%d'},
			  numberTicks: 11
			},
                xaxis: { renderer: jQuery.jqplot.DateAxisRenderer, numberTicks: 10}
            },
            series: [
                {label: "<%=l(:label_impasse_stat_expected_cases)%>"},
                {label: "<%=l(:label_impasse_stat_remain_cases)%>"},
                {label: "<%=l(:label_impasse_stat_total_bugs)%>"}
            ],
            legend: {
                show: true
            }
        });
    }
});
</script>

