<div id="test-chart">
</div>
<script>
jQuery.ajax({
    url: '<%=url_for :controller=>:test_plans, :action=>:statistics, :project_id=>@project, :id=>@test_plan%>',
    type: 'get',
    data: { type: "daily", format: "json" },
    success: function(data) {
        jQuery.jqplot("test-chart", data, {
            axes: {
                yaxis:  { label: 'Remain cases', min: 0},
                y2axis: { label: 'Bugs', min: 0},
                xaxis: { renderer: jQuery.jqplot.DateAxisRenderer}
            }
        });
    }
});
</script>

