<h2><%= link_to l(:label_impasse_exec_step_hist_plural), impasse_exec_step_hists_path %>
  &#187; <%= l(:label_impasse_exec_step_hist_new) %></h2>

<%= render "form" %>

<% html_title l(:label_impasse_exec_step_hist_new) -%>