<h2><%= link_to l(:label_impasse_t_s_e_hist_plural), impasse_t_s_e_hists_path %>
  &#187; <%= l(:label_impasse_t_s_e_hist_edit) %></h2>

<%= render "form" %>

<% html_title l(:label_impasse_t_s_e_hist_edit) -%>